{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
	<!-- ======= heat text ======= -->
	<div id="head-text" class="container overflow-hidden">
		<div id="head-text-row" class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">Cours de mathematiques pour les élèves de 3ème
				</div>
			</div>
		</div>
	</div>
	<!-- End heat text -->

	{# section chapitre #}
	<div class="container">

		<div class="alert alert-success" role="alert">
			<a href="http://exo7.emath.fr/cours/livre-algebre-1.pdf" class="alert-link">Les nomble relative</a>
		</div>

		<div class="alert alert-success" role="alert">
			<a href="#" class="alert-link">Nombres décimaux arithmétiques</a>
		</div>

		<div class="alert alert-success" role="alert">
			<a href="#" class="alert-link">Addition de deux nombres décimaux
				arithmétiques Soustraction de deux
				nombres décimaux arithmétiques</a>
		</div>

		<div class="alert alert-success" role="alert">
			<a href="#" class="alert-link">Rangement des nombres décimaux
				arithmétiques</a>
		</div>

		<div class="alert alert-success" role="alert">
			<a href="#" class="alert-link">Multiplication des nombres décimaux
				arithmétiques</a>
		</div>


	</div>
	{# end section chapitre #}

		<!-- ======= heat text ======= -->
	<div id="head-text" class="container overflow-hidden">
		<div id="head-text-row" class="row gx-5">
			<div class="col">
				<div class="p-3 border bg-light">Cours de physiques pour les élèves de 3ème
				</div>
			</div>
		</div>
	</div>
	<!-- End heat text -->

	{# section chapitre #}
	<div class="container">

		<div class="alert alert-success" role="alert">
			<a href="http://exo7.emath.fr/cours/livre-algebre-1.pdf" class="alert-link">Les nomble relative</a>
		</div>

		<div class="alert alert-success" role="alert">
			<a href="#" class="alert-link">Nombres décimaux arithmétiques</a>
		</div>


	</div>
	{# end section chapitre #}

{% endblock %}