{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<!-- ======= Breadcrumbs ======= -->
	<div class="breadcrumbs" data-aos="fade-in">
		<div class="container">
			<h2>À propos de nous</h2>
			<p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium.
			</p>
		</div>
	</div>
	<!-- End Breadcrumbs -->
	{# section Document #}
	<div id="docx" class="container">
		<div class="col-12 col-lg-4 col-md-6 footer-links mt-5">
			<div class="section-title">
				<h2>Mathématiques</h2>
			</div>
			<ul>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="http://exo7.emath.fr/ficpdf/fic00020.pdf"> les fonctions usuelles</a> 
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Factorisation</a>
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Formules</a>
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Arithmetiques</a>
				</li>
			</ul>
		</div>
		<hr class="my-4">
		<div class="col-12 col-lg-4 col-md-6 footer-links mt-5">
			<div class="section-title">
				<h2>Physiques</h2>
			</div>
			<ul>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Les fonction usuelles</a>
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Factorisation</a>
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Formules</a>
				</li>
				<li>
					<i class="bx bx-chevron-right"></i>
					<a href="#">Arithmetiques</a>
				</li>
			</ul>
		</div>
	</div>
	{# end section Document #}
{% endblock %}
